<div class="page-container grow flex flex-col md:flex-row">
  <div
    id="user-profile"
    [ngClass]="{ 'width-full': !isLoading, 'width-none': isLoading }"
    class="bg-gray-200 md:pr-3 flex items-center md:block mx-auto my-1 sm:my-2 md:m-0 overflow-auto max-md:w-full max-md:min-w-full max-md:max-w-full"
  >
    <app-owner-side-panel [repo]="repo"></app-owner-side-panel>
  </div>

  <div
    id="repo-info"
    class="bg-white grow rounded-lg py-2 px-3 flex flex-col md:flex-row"
  >
    <app-repo-info [repo]="repo"></app-repo-info>
  </div>
</div>
