<nav
  class="flex flex-col sm:flex-row justify-between items-stretch sm:items-center gap-2 sm:gap-0"
>
  <h1 class="text-xl text-center sm:text-left">
    <span class="font-bold">GitHub</span> Explorer
  </h1>

  <form
    (ngSubmit)="submitSearch(searchInput.value)"
    class="flex sm:grow sm:justify-end gap-1"
  >
    <input
      #searchInput
      type="text"
      placeholder="search repos"
      class="grow sm:grow-0 sm:w-3/4 md:w-1/2 rounded-md px-2 py-1"
    />
    <button
      [disabled]="isLoading"
      type="submit"
      class="bg-gray-700 disabled:opacity-50 rounded-md px-2 py-1 text-white"
    >
      <div [ngSwitch]="isLoading">
        <i
          [ngClass]="{
            'fa-solid': true,
            'fa-circle-notch fa-spin': isLoading,
            'fa-magnifying-glass fa-flip-horizontal': !isLoading
          }"
        ></i>
      </div>
    </button>
  </form>
</nav>
