<nav class="flex justify-between items-center">
  <h1 class="text-xl"><span class="font-bold">GitHub</span> Explorer</h1>

  <form
    (ngSubmit)="submitSearch(searchInput.value)"
    class="flex grow justify-end gap-1"
  >
    <input
      #searchInput
      type="text"
      placeholder="search repos"
      class="w-1/2 rounded-md px-2 py-1"
    />

    <button type="submit" class="bg-gray-700 rounded-md px-2 py-1 text-white">
      <i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i>
    </button>
  </form>
</nav>
