<div
  [routerLink]="['/repos', repo.owner.name, repo.name]"
  class="w-[24.5rem] border cursor-pointer border-gray-300 hover:border-gray-500 p-2 rounded-lg"
>
  <div class="flex h-full">
    <div class="repo-info w-4/5 flex flex-col justify-between">
      <div>
        <h3 class="text-xl break-all">
          <span class="font-thin break-all">{{ repo.owner.name }}/</span
          ><span class="font-medium break-all">{{ repo.name }}</span>
        </h3>
        <p class="text-sm mb-2 opacity-50">
          {{ repo.description | slice : 0 : 30 }}
          <ng-container *ngIf="repo.description && repo.description.length > 30"
            >...</ng-container
          >
        </p>
      </div>
      <div class="pr-2 flex justify-between">
        <div>
          <i class="fa-regular fa-star"></i>
          <p>{{ repo.stars }}</p>
        </div>
        <div>
          <i class="fa-solid fa-exclamation"></i>
          <p>{{ repo.issues }}</p>
        </div>
        <div>
          <i class="fa-solid fa-code-fork"></i>
          <p>{{ repo.forks }}</p>
        </div>
        <div>
          <i class="fa-solid fa-code"></i>
          <p>{{ repo.language || "Unknown" | titlecase }}</p>
        </div>
      </div>
    </div>
    <div class="user-info-avatar w-1/5">
      <img
        class="w-11/12 max-w-[75px] rounded-lg aspect-square block ml-auto"
        [src]="repo.owner.avatarUrl"
        [alt]="repo.owner.name + '/' + repo.name"
      />
    </div>
  </div>
</div>
