<a [href]="repo.owner.externalLinks.profile" target="_blank"
  ><img
    class="block w-44 rounded-full m-auto"
    [src]="repo.owner.avatarUrl"
    alt="repo.owner.name"
/></a>

<h2 class="text-2xl text-center font-light mt-2">
  <a
    [href]="repo.owner.externalLinks.profile"
    target="_blank"
    class="hover:underline"
    >{{ repo.owner.name }}</a
  >
</h2>

<ul class="flex flex-col gap-2 mt-2">
  <li>
    <a
      class="bg-gray-300 hover:bg-slate-400 hover:text-white block py-2 text-center rounded-md"
      [href]="repo.owner.externalLinks.gists"
      target="_blank"
      >Gists</a
    >
  </li>
  <li>
    <a
      class="bg-gray-300 hover:bg-slate-400 hover:text-white block py-2 text-center rounded-md"
      [href]="repo.owner.externalLinks.repos"
      target="_blank"
      >Repositories</a
    >
  </li>
  <li>
    <a
      class="bg-gray-300 hover:bg-slate-400 hover:text-white block py-2 text-center rounded-md"
      [href]="repo.owner.externalLinks.stars"
      target="_blank"
      >Stars</a
    >
  </li>
  <li>
    <a
      class="bg-gray-300 hover:bg-slate-400 hover:text-white block py-2 text-center rounded-md"
      [href]="repo.owner.externalLinks.followers"
      target="_blank"
      >Followers</a
    >
  </li>
  <li>
    <a
      class="bg-gray-300 hover:bg-slate-400 hover:text-white block py-2 text-center rounded-md"
      [href]="repo.owner.externalLinks.following"
      target="_blank"
      >Following</a
    >
  </li>
</ul>
