<a [href]="repo.owner.externalLinks.profile" target="_blank"
  ><img
    class="block w-8 sm:w-11 md:w-44 rounded-full md:m-auto max-w-fit md:max-w-full"
    [src]="repo.owner.avatarUrl"
    alt="repo.owner.name"
/></a>

<p
  class="text-lg sm:text-xl md:text-2xl md:text-center font-light mx-2 md:mx-0 md:mt-2"
>
  <a
    [href]="repo.owner.externalLinks.profile"
    target="_blank"
    class="hover:underline max-md:w-max max-md:block"
    >{{ repo.owner.name }}</a
  >
</p>

<ul class="flex md:flex-col gap-2 ml-2 md:ml-0 md:mt-2">
  <li>
    <a
      class="text-sm md:text-base bg-gray-300 hover:bg-slate-400 hover:text-white block px-2 md:px-0 py-1 md:py-2 text-center rounded-md"
      [href]="repo.owner.externalLinks.gists"
      target="_blank"
      >Gists</a
    >
  </li>
  <li>
    <a
      class="text-sm md:text-base bg-gray-300 hover:bg-slate-400 hover:text-white block px-2 md:px-0 py-1 md:py-2 text-center rounded-md"
      [href]="repo.owner.externalLinks.repos"
      target="_blank"
      >Repositories</a
    >
  </li>
  <li>
    <a
      class="text-sm md:text-base bg-gray-300 hover:bg-slate-400 hover:text-white block px-2 md:px-0 py-1 md:py-2 text-center rounded-md"
      [href]="repo.owner.externalLinks.stars"
      target="_blank"
      >Stars</a
    >
  </li>
  <li>
    <a
      class="text-sm md:text-base bg-gray-300 hover:bg-slate-400 hover:text-white block px-2 md:px-0 py-1 md:py-2 text-center rounded-md"
      [href]="repo.owner.externalLinks.followers"
      target="_blank"
      >Followers</a
    >
  </li>
  <li>
    <a
      class="text-sm md:text-base bg-gray-300 hover:bg-slate-400 hover:text-white block px-2 md:px-0 py-1 md:py-2 text-center rounded-md"
      [href]="repo.owner.externalLinks.following"
      target="_blank"
      >Following</a
    >
  </li>
</ul>
